.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .comment img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  
  .comment div {
    margin-left: 10px;
  }
  
  .comment button {
    margin-left: 5px;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }