* {
    text-align: center;
    padding: 10px;
    margin: 5px;
}
button {
    background-color: pink;
    border-radius: 40px/20px;
    color: darkred;
    border: 3px dotted darkred;

}
body {
    background-color: bisque;
}
